
 ██╗    ██╗ █████╗ ██████╗ ███╗   ██╗██╗███╗   ██╗ ██████╗
 ██║    ██║██╔══██╗██╔══██╗████╗  ██║██║████╗  ██║██╔════╝
 ██║ █╗ ██║███████║██████╔╝██╔██╗ ██║██║██╔██╗ ██║██║  ███╗
 ██║███╗██║██╔══██║██╔══██╗██║╚██╗██║██║██║╚██╗██║██║   ██║
 ╚███╔███╔╝██║  ██║██║  ██║██║ ╚████║██║██║ ╚████║╚██████╔╝
  ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝  ╚═══╝ ╚═════╝

 ╔══════════════════════════════════════════════════════╗
 ║  HOST    »  {{ (ansible_facts.hostname | upper).ljust(41) }}║
 ║  OS      »  {{ (ansible_facts.distribution ~ ' ' ~ ansible_facts.distribution_version).ljust(41) }}║
 ║  KERNEL  »  {{ ansible_facts.kernel.ljust(41) }}║
 ╚══════════════════════════════════════════════════════╝

  ⚠  Unauthorized access is prohibited. All activity is logged.  ⚠
