[defaults]
inventory            = inventory/local.yml
roles_path           = roles
interpreter_python   = /usr/bin/python3
stdout_callback      = default
result_format        = json
verbosity            = 1
cow_selection        = tux
host_key_checking    = yes
inject_facts_as_vars = false
retry_files_enabled  = false
log_path             = .ansible/logs/ansible.log

[privilege_escalation]
become_method        = sudo

[ssh_connection]
pipelining           = true
timeout              = 15
