localhost:5432:{{ docker_postgres_database }}:{{ docker_postgres_user }}:{{ vault_postgres_password }}
127.0.0.1:5432:{{ docker_postgres_database }}:{{ docker_postgres_user }}:{{ vault_postgres_password }}
